@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
}

header{
    width: 100%;
    height: 80px;
    background-color: #0f0e0d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.img-box {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.img-box .logo {
    height: 80%;
}

.nav-list{
    color: white;
}

.nav-list li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 25px;
    font-family: 'Belanosima', sans-serif;
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-list li:hover,
.active {
    border-bottom: #f2c12e solid 2px;
    transform: scale(1.1);
}

.btn-buy-now {
    margin-right: 30px;
    font-family: 'Belanosima', sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #f2c12e;
    transition: all 0.3s ease-in-out;
    color: white;
}

.btn-buy-now:hover {
    background-color: #fad157;
    transform: scale(1.1);
    color: black;
}

.section {
    width: 100%;
    min-height: 100vh;
    background-color: #101B22;
}

/* home styles  */
.home{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url("../img/home-bg.png");
    background-attachment: fixed;
    position: relative;
}

.home .layer{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}

.home-section {
    width: 100%;
    height: 100%;
    display: flex;
}

.text-container {
    width: 50%;
    height: 100vh;
    color: #ddd;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 50px;
    font-family: 'IM Fell DW Pica SC', serif;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 60px;
}

.text-container h2{
    font-size: 30px;
    font-family: 'IM Fell DW Pica', serif;
    margin-left: 50px;
}

.text-container p {
    font-family: 'IM Fell DW Pica', serif;
    text-align: justify;
    margin-left: 50px;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-container button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-left: 30px;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.btn-container button:hover{
    transform: scale(1.1);
}

.btn-container .btn-watch-trailer {
    border: 2px solid #f2c12e;
    background-color: transparent;
    color: #f2c12e;
}

.man-container {
    width: 50%;
    height: 100vh;
    position: relative;
}

.img-man {
    position: absolute;
    bottom: 0;
    right: 80px;
}